#secondary, #contentinfo {
  display: grid;
  grid-template-columns: var(--columns);
  grid-template-columns: subgrid;
  padding-block: var(--spacer);
  place-content: center;
  row-gap: var(--gutter);

  > * {
    grid-column: 2;
    margin: 0;
  }
}

#secondary {
  border-block-start: medium solid var(--border);
}

#contentinfo {
  background-color: var(--overlay);
  border-block-start: thin dotted var(--border);
}

#email-form-label h2 {
  font-size: inherit;
  margin-block-start: unset;
}
