footer {
  background-color: var(--overlay);
  border-block-start: thin dotted var(--border);
  display: grid;
  grid-template-columns: var(--columns);
  grid-template-columns: subgrid;
  gap: var(--gutter);
  padding-block: var(--gutter);
  place-content: center;

  > * {
    grid-column: 2;
    margin: 0;
  }
}
