@use '../config';

#banner {
  display: grid;
  color: white;
  font-stretch: var(--cond);
  margin: var(--gutter);
  padding: var(--shim, 0.5rem);
  place-content: center;
  text-shadow: 2px 2px 0 var(--overlay);
  z-index: 1;

  @include config.below(45em) {
    text-align: center;
  }

  a:any-link {
    --action: currentColor;
  }
}

header {
  margin-block: var(--gutter);

  > * {
    margin: 0;
  }
}

h1 {
  font-size: clamp(1.4em, 3em + 6vw, 10vw);
  line-height: 0.9;
}

.subtitle {
  position: relative;
  z-index: 1;
}
