{% for item in cms.content %}
  {% set is = item.__component %}

  {% if is == 'content.body' %}
    {% set itemData = {
      'collections': collections,
      'mdContent': item.body
    } %}

    {% renderTemplate "webc", itemData %}
      <div webc:nokeep @html="md(mdContent)"></div>
    {% endrenderTemplate %}

  {% elif is == 'content.h2' %}
    {% set itemData = {
      'collections': collections,
      'mdHeading': item.heading
    } %}

    {% renderTemplate "webc", itemData %}
      <h @level="2" :@title="mdHeading"></h>
    {% endrenderTemplate %}

  {% elif is == 'content.action-link' %}
    {% set itemData = {
      'collections': collections,
      'linkText': item.text,
      'linkUrl': item.url
    } %}

    {% renderTemplate "webc", itemData %}
      <a :href="linkUrl" @html="linkText" class="action"></a>
    {% endrenderTemplate %}

  {% elif is == 'content.quote' %}
    {% set itemData = {
      'collections': collections,
      'quoteText': item.content,
      'citeName': item.cite.name,
      'citeDate': item.cite.date,
      'citeSource': item.cite.source,
      'citeUrl': item.cite.url
    } %}

    {% renderTemplate "webc", itemData %}
      <block-quote
        :@quote-text="quoteText"
        :@cite-name="citeName"
        :@cite-date="citeDate"
        :@cite-source="citeSource"
        :@cite-url="citeUrl"
      ></block-quote>
    {% endrenderTemplate %}

  {% elif is == 'content.post-card' %}
    {% set post = item.page.data.attributes %}
    {% set cardHero = post.header.hero.data.attributes %}
    {% set itemData = {
      'collections': collections,
      'imgSrc': cardHero.url,
      'imgAlt': cardHero.alternativeText,
      'postTitle': post.title,
      'postSummary': post.header.summary,
      'permaLink': post | permaSlug | log,
      'postDate': post.date
    } %}

    {% renderTemplate "webc", itemData %}
      <post-card
        :title="postTitle"
        :post-date="postDate"
        :summary="postSummary"
        :src="imgSrc"
        :alt="imgAlt"
        :permalink="permaLink"
      ></post-card>
    {% endrenderTemplate %}

  {% elif is == 'content.person-card' %}
    {% set person = item.person.data.attributes %}
    {% set cardHero = person.header.hero.data.attributes %}
    {% set itemData = {
      'collections': collections,
      'imgSrc': cardHero.url,
      'imgAlt': cardHero.alternativeText,
      'pName': person.name,
      'proNouns': person.pronouns,
      'pSummary': person.header.summary
    } %}

    {% renderTemplate "webc", itemData %}
      <person-card
        :name="pName"
        :pronouns="proNouns"
        :summary="pSummary"
        :src="imgSrc"
        :alt="imgAlt"
      ></person-card>
    {% endrenderTemplate %}

  {% elif is == 'content.gallery-card' %}
    {% set gallery = item.gallery.data.attributes %}
    {% set itemData = {
      'collections': collections,
      'title': item.title or gallery.title,
      'caption': gallery.figure.caption,
      'media': gallery.figure.gallery.data
    } %}

    {% renderTemplate "webc", itemData %}
      <h webc:if="title" level="2" :@title="title"></h>
      <media-gallery
        :media="media"
        :caption="caption"
      ></media-gallery>
    {% endrenderTemplate %}

  {% elif is == 'content.figure' %}
    {% set itemData = {
      'collections': collections,
      'caption': item.caption,
      'media': item.gallery.data
    } %}

    {% renderTemplate "webc", itemData %}
      <media-gallery
        :media="media"
        :caption="caption"
      ></media-gallery>
    {% endrenderTemplate %}

  {% elif is == 'auto.show-history' %}
    {% set itemData = {
      'collections': collections,
      'shows': shows,
      'limit': item.shows
    } %}

    {% renderTemplate "webc", itemData %}
      <show-history
        :shows="shows"
        :limit="limit"
        :@collections="collections"
      ></show-history>
    {% endrenderTemplate %}

  {% elif is == 'auto.run-card' %}
    {% set run = item %}
    {% set itemData = {
      'collections': collections,
      'title': run.title,
      'venue': run.venue.data.attributes,
      'events': cms.events.data,
      'show_slug': cms.slug
    } %}
    {% renderTemplate "webc", itemData %}
      <run-card
        :@title='title'
        :@venue='venue'
        :@events='events'
        :@show-slug="show_slug"
        :@collections="collections"
      ></run-card>
    {% endrenderTemplate %}

  {% elif is == 'auto.press-card' %}
    {% set itemData = {
      title: item.title,
      press: cms.press.data
    } %}

    {% renderTemplate "webc", itemData %}
      <h level="2" :@title="title || `In The Press`"></h>
      <script webc:type="js">
        press
          .map(item => item.attributes)
          .sort((a, b) => a.quote.date - b.quote.date)
          .map(item => `
            <block-quote
              @quote-text="${item.quote.content}"
              @cite-name="${item.quote.cite.name}"
              @cite-date="${item.quote.cite.date}"
              @cite-source="${item.quote.cite.source}"
              @cite-url="${item.quote.cite.url}"
            ></block-quote>
          `).join('');
      </script>
    {% endrenderTemplate %}

  {% elif is == 'auto.contact-form' %}
    {% set itemData = {
      'collections': collections,
      'pageUrl': page.url,
      'submit': item.submit,
      'action': item.action
    } %}

    {% renderTemplate "webc", itemData %}
      <contact-form
        :action="action"
        :submit="submit"
        :page-url="pageUrl"
        :@collections="collections"
      ></contact-form>
    {% endrenderTemplate %}

  {% endif %}
{% endfor %}
