@use '../config';

figure {
  margin: 0;
  padding: 0;
}

.gallery {
  display: grid;
  gap: var(--shim);
  place-items: center;

  @include config.above(40em) {
    grid-template-columns: repeat(2, minmax(min(100%, 20ch), 1fr));
  }
}


