<div class="sold-out">
  <h2>No Tickets Available</h2>
  <p>
    This performance is currently sold out.
    It's possible we'll be able to add more seats
        (check back here),
        and there are often seats that become available
        at the last minute.
    <strong>If you show up at the door,
      we'll do our best to find you a seat.</strong>
  </p>
</div>
