<div class="sold-out">
  <p>
    This show is currently
    <strong>Sold Out</strong>.
    It's possible we'll be able to add more seats
        (check back),
        and there are often seats that become available
        at the last minute.
    <strong>If you show up at the door,
      we'll do our best to find you a seat.</strong>
  </p>
</div>
