html {
  --large: calc(1.2rem + 0.25vw);
  font-size: calc(1.2em + 0.25svmin);
  line-height: 1.4;
}

a:any-link {
  color: var(--action);
  text-decoration-thickness: 0.1em;
  transition:
    150ms text-underline-offset ease-out,
    200ms text-decoration-thickness ease-out
  ;
}

a:hover,
a:focus,
a:active {
  color: var(--focus);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.2em;
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  font-stretch: condensed;
  font-stretch: var(--cond);
  font-weight: 600;
}

h2 {
  margin-block-start: var(--spacer);
  position: relative;

  a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--focus);
    text-decoration: underline;
  }
}

h3, h4, h5 {
  margin-block-start: var(--gutter);
}

strong, b {
  font-stretch: var(--cond);
  font-weight: 600;
}
