@forward '../../node_modules/cssremedy/css/remedy.css';

// screen only
@media screen {
  body {
    margin: 2em auto;
    max-width: 75ch;
  }
}

// both
html {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: calc(var(--fs-print, 12) * 1pt);
  line-height: 1.6;
}

header {
  border-block: thin dotted;
  margin-block: 3em;
  padding-block: 3em;
  display: grid;
  gap: 1lh;

  * { margin: 0; }
}

hi, h2, h3 {
  text-wrap: balance;

  a:any-link {
    color: unset;
    text-decoration: none;
  }
}

main {
  counter-reset: h2;
}

h2 {
  counter-increment: h2;
  break-after: avoid;
  font-size: 1.2em;
  margin-bottom: 0;

  &::before {
    content: counter(h2) '. ';
  }
}

h2 + h3 {
  margin-top: 0;
}

h3 {
  font-size: 1em;
  font-style: italic;

  &::before { content: '('; }
  &::after { content: ')'; }
}

pre,
code {
  font: inherit;
}

hr {
  border: none;
  block-size: auto;
  margin-block: 1.5lh;

  &::after {
    content: '* * *';
  }
}

// print styles
@page {
  margin: 1in;
}

@media print {
  nav {
    display: none;
  }

  header {
    place-content: center;
    block-size: 100vh;
    border: unset;
    margin: unset;
    padding: unset;
    max-inline-size: 60ch;
  }

  h1 {
    font-size: inherit;
  }
}
