@use 'sass:meta';
@use 'config';
@use 'init';

html {
  font-size: 3vw;
  width: 1200px;
  height: 630px;
}

body {
  display: grid;
  gap: var(--gutter);
  grid-template:
    'b' 1fr
    'f' auto
    / 1fr;
}

#hero {
  display: grid;
  grid-area: b / b / f;
  overflow: hidden;

  .hero-img {
    filter: brightness(80%) sepia(25%) blur(1px);
    width: 100%;
    height: 0;
    min-height: 100%;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
    place-self: stretch;
    scale: 1.1;
  }
}

#banner {
  color: #fff;
  display: grid;
  font-stretch: var(--cond);
  grid-area: b;
  padding: var(--gutter);
  place-content: start;
  text-shadow: var(--header-shadow);
  z-index: 1;

  > * {
    background: var(--overlay);
    margin: 0;
    place-self: start;
  }
}

h1 {
  font-size: clamp(1.4em, 3em + 6vw, 10vw);
  line-height: 0.9;

  a:any-link {
    --action: currentColor;
    text-decoration: none;
  }
}

footer {
  grid-area: f;
  padding: var(--gutter);
  position: relative;
  text-shadow: var(--header-shadow);
  z-index: 1;

  strong {
    background: var(--overlay);
  }
}
