---
layout: page
type: event
pagination:
  data: events
  size: 1
  alias: cms
  addAllPagesToCollections: true
---

{% if cms.title %}
  <h2>{{ cms.title }}</h2>
{% endif %}

{% if cms.note %}
  {{ cms.note | md }}
{% else %}
  {{ show_summary | md }}
{% endif %}

{% render 'tickets/checkout', event: cms %}
