nav {
  background: var(--callout);
  padding: var(--gutter);
  justify-content: space-between;
}

nav,
.local-nav,
.netlify-identity-menu {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
}

.netlify-identity-menu {
  list-style: none;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns:
    [left-start right-start full-start]
    minmax(min-content, 1fr)
    [left-end right-end full-end]
  ;
  justify-content: center;
  margin: var(--gutter);

  > * {
    grid-column: var(--col, full);
  }

  @media (min-width: 30em) {
    grid-template-columns:
      [left-start full-start] minmax(min-content, 40ch)
      [left-end right-start] minmax(min-content, 40ch)
    [right-end full-end];
  }
}

[data-col='full'] {
  --col: full;
}

[data-col='left'] {
  --col: left;
}

[data-col='right'] {
  --col: right;
}
