@media print {
  html {
    background-color: white;
    color: black;
    color-scheme: light;
    accent-color: chocolate;
  }

  body {
    display: flow-root;
  }

  nav, .notes, .emails {
    display: none;
  }

  td, th {
    border-bottom: thin solid silver;
    padding: var(--quarter-shim) var(--shim);
  }
}
