table {
  width: 100%;
}

th, td {
  text-align: var(--td-align, left);
  padding: var(--half-shim) var(--shim);
}

dt {
  font-weight: bold;

  &::after {
    content: ':';
  }
}

[data-num] {
  --td-align: right;
}

tfoot {
  font-weight: bold;
}
