@use '../config';

textarea {
  min-height: 4em;
  resize: vertical;
}

select {
  font: inherit;
  font-size: var(--xsmall);
  width: 100%;
}

fieldset {
  border-color: var(--border-fade);
  margin: 0 0 var(--newline);
  padding: var(--shim);
}

legend {
  font-size: var(--xsmall);
  padding: 0 var(--shim);
}

label {
  grid-area: label;

  &:not([type=checkbox] + label) {
    display: block;
  }
}

button {
  background: var(--action);
  border: thin solid var(--border);
  border-radius: var(--half-shim);
  color: var(--bg);
  cursor: pointer;
  font: inherit;
  font-stretch: var(--cond);
  padding: var(--half-shim) var(--gutter);
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--focus);
  }
}

.field-group {
  display: grid;
  grid-column-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
}

.form-field {
  display: grid;
  grid-template: 'label dialog' auto 'input input' auto / 1fr auto;
  margin-bottom: var(--gutter);
}

output {
  font-weight: bold;
}

[type=checkbox] {
  aspect-ratio: 1;
  block-size: 1cap;
  font: inherit;
  margin: unset;
}

input:not([type='checkbox'], [type='radio']),
textarea {
  background-color: var(--overlay);
  border: thin solid var(--action);
  border-radius: 0;
  color: var(--text);
  display: block;
  font: inherit;
  font-size: var(--xsmall);
  grid-area: input;
  padding: var(--half-shim);
  width: 100%;

  &:focus {
    border-color: var(--focus);
    outline: medium solid var(--focus);
    outline-offset: 0;
  }

  &:invalid {
    border-color: var(--border);
  }
}

[data-help] {
  font-size: var(--xsmall);
  grid-column: help;
}

label + button[data-help] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  grid-area: dialog;
  padding: 0 0.5em;
}

.form-actions {
  margin-block-start: var(--gutter);
}
