@use '../config';

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

p:empty {
  display: none;
}

:is(ul, ol) {
  padding-inline-start: 1em;

  &:not(ul *, ol *) {
    @include config.above(40em) {
      padding-inline-start: 0;
    }
  }
}

main li + li {
  margin-block-start: var(--half-shim);
}

blockquote {
  margin: 0;
}

.block-quote,
blockquote:not(.block-quote > *) {
  border-inline-start: var(--half-shim) solid var(--border);
  font-size: var(--large);
  margin-block: var(--gutter);
  margin-inline: calc(var(--gutter) * -1.25) 0;
  padding-inline: var(--gutter) 0;
}

blockquote:not(.block-quote > *) {
  p:last-child em:only-child {
    font-size: max(0.75em, 0.75rem);
  }
}

hr {
  border: 0 dotted var(--border);
  border-block-end-width: thin;
  margin-block: var(--spacer);
}

::selection {
  background: config.$border;
  color: config.$bg;
}
